/* Sidebar (col-md-3) */
.sidebar-section {
  background-color: #0000ff; /* Dark blue background */
  color: #ffffff;
}

.sidebar-section .btn-outline-light {
  color: #ffffff;
  border-color: #ffffff;
}

.sidebar-section .btn-outline-light:hover {
  background-color: #3B4B61; /* Slightly lighter background on hover */
  color: #ffffff;
}

/* Main Content (col-md-9) */
.main-content {
  background-color: #f3f4f6; /* Light gray background */
  color: #2c3e50;
}

/* Dropdown Menu */
.dropdown-menu {
  background-color: #E5E7EB;
}

.dropdown-menu .dropdown-item {
  color: #2c3e50;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #CFD8DC;
  color: #1A1A2E;
}

.dropdown-toggle::after {
  margin-left: auto;
}   

.dropdown-menu a i {
  margin-right: 10px;
}
