.header {
  background-color: #f5f5f5;
}

.header .custom-b {
  background-color: #00CBB8;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
}

.banner h1 {
  margin: 50px 0 0 46px;
}

.custom-btn {
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
}

.custom-btn:hover {
  background-color: gray;
}

.card {
  border-radius: 20px;
}

/* About Us */

.features {
  background-color: #f5f5f5;
}

.about h1,
h2 {
  color: #2c3e50;
}

.about .lead {
  color: #34495e;
}

.about img {
  object-fit: cover;
}

.about .section {
  margin-top: 50px;
}

.about .row div {
  margin-bottom: 30px;
}


/* banner */
.banner {
  background-color: #00CBB8;
  height: 500px;
}

/* tutor */
.tutor span {
  color: #00CBB8;
}

.tutor .custom-btn {
  background-color: #00CBB8;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
}

/* Course */
.course {
  background-color: #f5f5f5;
}

.course .custom-class {
  margin-left: 195px;
}

.filter-btn {
  border-radius: 20px; 
  background-color: transparent;
  color: #00CBB8;
  margin: 0 5px; 
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}

.filter-btn.active {
  background-color: #00CBB8;
  color: white;
}

.course .filter-btn:hover {
  background-color: #00CBB8;
  border-radius: 20px;
  color: white;
}

.course .row {
  grid-row-gap: 30px;
}

.course img {
  justify-content: center;
  align-items: center;
}

.course .equal-height {
  object-fit: cover;
  height: 80px;
  margin-left: 18px;
}
.course .button {
  color: white;
  background-color: #00CBB8;
  border-radius: 20px;
  margin-left: 20px;
}

/* Features */

.feature span {
  color: #00CBB8;
}

.tool {
  background-color: #f5f5f5;
}

.tool span {
  color: #00CBB8;
}

/* Testimonial */
.testimonial button {
  background-color: #000; 
  color: #fff; 
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  margin-top: 230px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .course-card {
    margin-bottom: 30px;
  }
}

/* famous-categorie */
.categorie {
  background-color: #f4f4f9;
}
.categorie h1 span {
  color: #00CBB8;
}
.categorie button {
  background-color: #000; 
  color: #fff; 
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  margin-top: 230px;
}
.categorie .custom-btn {
  background-color: #00CBB8;
  color: white;
  border-radius: 30px;
  border: none;
}

/* Teacher */
.teacher span {
  color: #00CBB8;
}
.teacher .custom-btn {
  background-color: #00CBB8;
  color: white;
  border: none;
  border-radius: 30px;
}

/* footer */
.footer {
  background-color: #f5f5f5;
}

