.header {
  background-color: #f5f5f5;
}
.header .custom-b {
  background-color: #00CBB8;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
}

.banner h1 {
  margin: 50px 0 0 46px;
}

.custom-btn{
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
}
.custom-btn:hover{
  background-color: gray;
}

.card {
  border-radius: 20px;
}

/* About Us */

.features {
  background-color: #f5f5f5;
}

.about h1, h2 {
  color: #2c3e50;
}

.about .lead {
  color: #34495e;
}

.about img {
  object-fit: cover;
}

.about .section {
  margin-top: 50px;
}

.about .row div {
  margin-bottom: 30px;
}


/* banner */
.banner {
  background-color: #00CBB8;
  height: 500px;
}

/* tutor */
.tutor span {
  color: #00CBB8;
}

.tutor .custom-btn {
  background-color: #00CBB8;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
}

/* Course */
.course {
  background-color: #f5f5f5;
}

.course button {
  background-color: #00CBB8;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
}

.course button:hover {
  background-color: #2c3e50;
}

.course .custom-btn {
  background-color: #00CBB8;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;  
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .course-card {
    margin-bottom: 30px;
  }
}

.more-feature {
  background-color: #f8f9fa;
}

/* famous-categorie */
.famous-categorie {
  background-color: #f4f4f9;
}

.famous-categorie .owl-carousel .owl-dots {
  margin-top: 48px;
  text-align: center;
}

.famous-categorie .owl-carousel .owl-dots button:not(:last-of-type) {
  margin-right: 10px;
}

.famous-categorie .owl-carousel .owl-dots button span {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 50%;
}

.famous-categorie .owl-carousel .owl-dots button.active span {
  background: #000;
}

/* become a teacher */
.become-teacher-section {
  background-color: #f8f9fa;
  border-radius: 8px;
}

/* footer */
.footer {
  background-color: #f5f5f5;
}